//----------------------------------------------------------------------
// style.after-bulma.scss
//----------------------------------------------------------------------
$primary-invert: findColorInvert($primary);

[v-cloak] { display: none; }
.debug { border: 1px solid #f00; }
.debug-bg { background-color: #fcc; }

html {
  background: #fff url("/img/squares/squares.6px.2x6.png") repeat-x;
  padding-top:36px;
}
//-------- Bulma's container goes right to edge on mobile
@media screen and (max-width: $desktop + 10px) {
  //.pad-touch-only { padding: 12px; }
  .container { padding: 8px; }
}
.ws-bold { font-weight: 700 !important; }
.ws-bt-1 { border-top: 1px solid $cp-p200; padding-top:.5rem; }
.ws-bt-2 { border-top: 2px solid $cp-p200; padding-top:.5rem; }
.ws-bt-3 { border-top: 3px solid $cp-p200; padding-top:.5rem; }
.ws-bt-4 { border-top: 4px solid $cp-p200; padding-top:.5rem; }
.ws-b-1 { border: 1px solid $cp-p200; }
.ws-b-2 { border: 2px solid $cp-p200; }
.checkers-2r { padding-top:24px; background: #fff url("/img/squares/squares.6px.2x2.png") repeat-x; }
.checkers-3r { padding-top:30px; background: #fff url("/img/squares/squares.6px.2x3.png") repeat-x; }
.checkers-4r { padding-top:36px; background: #fff url("/img/squares/squares.6px.2x4.png") repeat-x; }

#ws-overlay { background-color: hsla(90,27%,65%,0.25); z-index:900; }
#ws-topbar {
  &.container {
    padding:0.5rem 0;
    //border-bottom:1px solid $cp-p500;
    .fa-bars { font-size:180%; color:$cp-p500; margin-bottom:1rem; }
    nav a {
      color:$cp-p500;
      margin:.8rem 1.2rem .8rem 0;
      border-bottom:2px solid transparent;
      &:hover { border-bottom:2px solid $cp-p500; }
    }
    aside {
      height: 100%; width: 0; overflow-x: hidden;
      position: fixed; z-index: 901; top: 0; left: 0;
      background-color: #fff;
      transition: 0.2s ease-out;
      padding-top: 60px;
      &.is-open { width:240px; border-right:8px solid $cp-p300; }
    }
    //aside {
    //  //position:absolute; z-index:999; margin-left:-144px;
    //  width:240px; background-color: #fff;
    //  margin-top:8rem;
    //  ul {
    //    text-align:right;
    //    background-color: #fff;
    //  }
    //  .is-closed { width:0; }
    //  .is-open { width:240px; }
    //}
  }
  .ws-sidenav-enter-active {
    transition: all .3s ease;
  }
  .ws-sidenav-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .ws-sidenav-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
}
#ws-home {
  p.title, p.ws-intro { border-top:2px solid $cp-p100; padding-top:.5rem; }
  .shop-items { border: 2px solid $cp-p200; padding:0.5rem; }
}
.ws-item {
  border-top: 1px solid $cp-p200;
  font-size:84%; padding-bottom: 1rem;
  a { color:$cp-text; }
  .ws-more { padding:0 .5rem; background-color: $cp-p200; }
}
.ws-links a {
  &.button { margin-bottom:.25rem; }
  &.button:hover { background-color: $cp-p100; }
}
.ws-more {
  padding:2px 1rem;
  i { color: $cp-p500; }
  background-color: $cp-p200; float:right;
}
.ws-photobox {
  overflow-x: hidden;
  .ws-slide {
    //padding: 0.5rem; margin: 0 0.5rem;
    //border: 1px solid $cp-p300;
    overflow-x:hidden;
    img {
      height:300px;
    }
  }
}
.ws-note {
  padding:0.5rem; margin:0.5rem;
  background-color:#ffd; border:2px solid #f44;
}


.ws-main {
}
.ws-section-menu {
  .box {
    border:1px solid $cp-p100; padding:.5rem;
    .title { margin-bottom:.5rem; }
    a { margin-bottom:.25rem; }
    a:hover { background-color: $cp-p100; }
    }
}

#ws-footer {
  margin-top:6rem; padding:3rem 0 6rem 0;
  background: #fff url("/img/squares/squares.6px.2x6.png") repeat-x;
  //padding-top:36px;
  //border-top:3px solid $cp-p100; background-color: #fff;
  //background-color: $cp-p100;
  //background: #fff url("/img/squares/squares.6px.2x2.png") repeat-x;
  a { color:$cp-text; }
}

.ws-ratings-tdlist {
  min-width:600px;
  thead tr th { vertical-align:bottom; text-align:center; font-size:0.8rem; }
  thead tr th.right { text-align:right; }
  tbody tr td { font-size:0.8rem; }
  tbody tr td.int { text-align:right; }
}


//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@


@mixin browsers ($directive, $value) {
  -webkit-#{$directive}:#{$value}; -moz-#{$directive}:#{$value};
  -o-#{$directive}:#{$value}; -ms-#{$directive}:#{$value};
  #{$directive}:#{$value};
}
@mixin colour ($col, $bgcol) { color:$col; background-color:$bgcol; border-color:$col;
  &:hover, &:focus, &:active { background:darken($bgcol,12%); @include browsers(transition, .6s ease all); } }
$img-border-6-3: "data:image/gif;base64,R0lGODdhAQALAPAAAOrcuclFJiH5BAEAAAEALAAAAAABAAsAAAIEhB9xBQA7";
$img-border-4-2: "data:image/gif;base64,R0lGODlhAQAIAPEAAOrcuQAAAMlFJslFJiH5BAEAAAIALAAAAAABAAgAAAIEhCFiBQA7";
$img-border-2-1: "data:image/gif;base64,R0lGODlhAQAFAPEAAOrcuQAAAMlFJslFJiH5BAEAAAIALAAAAAABAAUAAAIDBCRQADs=";


//---- hd-sidenav: left: gray area with menu for mobile
//#a-sidenav { width: 280px; height: 100%; padding: 15px;
//  position: absolute; left: -300px; z-index:2000;  // top: $navbar-height;
//  background: #fff;
//  @include browsers(transform, translateX(0));
//  @include browsers(transition, .3s ease all);
//}
//.sidenav-open {
//  #a-sidenav { @include browsers(transform, translateX(300px)); }
//  .overlay {position: fixed; top:0; left:0;  z-index:10;
//    height:100%; width:100%; background-color:rgba(0,0,0,0.1);
//  }
//  // Ref: http://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
//}

//-------- Bulma's container goes right to edge on mobile
//@media screen and (max-width: $desktop + 10px) {
//  .pad-touch-only { padding: 12px; }
//}

//-------- Bulma's navbar hamburger is too small!
//.a-topbar {
//  a { border:none; }
//  //background-color:$cp-p700;
//  .navbar { background-color:transparent;
//    //background: repeat-x url($img-border-6-3); padding-top:11px;
//    border-top: 8px solid $cp-p700;
//    //background: repeat-x url($img-border-6-3);
//  }
//  .navbar-burger {
//    height:3rem; width:3rem;
//  }
//  a.menu-item { color:$cp-text; padding:1rem .5rem; }
//
//  xxxspan {
//    &:nth-child(1) { top: calc(50% - 10px); }
//    &:nth-child(2) { top: calc(50% - 1px); }
//    &:nth-child(3) { top: calc(50% + 8px); }
//  }
//  &.is-active { xxxspan {
//    &:nth-child(1) { transform: translateY(9px) rotate(45deg); }
//    &:nth-child(2) { opacity: 0; }
//    &:nth-child(3) { transform: translateY(-9px) rotate(-45deg); }
//  } }
//}


html {
  //-------- Hero Image (ref: https://codepen.io/leonidboykov/pen/Edvvpm
  //.hero {
  //  &.hero-has-background {
  //    position: relative; overflow: hidden; background-color:$cp-p900;
  //  }
  //  .hero-background { position: absolute;
  //    object-fit: cover; object-position: center center;
  //    width: 100%; height: 100%;
  //    &.is-trans80 { opacity: 0.8; }
  //    &.is-trans50 { opacity: 0.5; }
  //    &.is-trans30 { opacity: 0.3; }
  //  }
  //  .hero-title-box { background-color:$cp-p500; padding:1.25rem; }
  //}
  //OLD
  //.hero-img {
  //  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
  //    url('/img/assets/andrii-podilnyk-771414-unsplash.w1920.jpg');
  //  background-size:cover; }
  //.hero {
  //  .a-title-box { background-color:$cp-p500; padding:2rem; }
  //}
  //--------
  //.content {
  //  .mt-0 { margin-top:0; }
  //  h1.title { margin-top:1.25rem; font-size:2rem; padding-top:8px;
  //    background: repeat-x url($img-border-4-2); }
  //  //h1 { border-top:3px double $cp-p700; margin-top:1rem; font-size:2rem; }
  //  h1 { margin-top:1rem; font-size:2rem; padding-top:5px;
  //    background: repeat-x url($img-border-2-1); }
  //  h2 { border-top:1px solid $cp-p700; margin-top:0.75rem; font-size:1.6rem; }
  //  h3 { border-top:1px solid $cp-p300; margin-top:0.5rem; font-size:1.3rem; }
  //  h4 { border:none; margin-top:0.25rem; font-size:1.3rem; }
  //  a {
  //    color:#000; border-bottom:2px dotted $cp-p800;
  //    &:hover { background-color:$cp-p300; }
  //  }
  //  pre { padding: .5rem .5rem; border:1px solid $cp-p700; font-size:16px; }
  //  div.highlight { margin-bottom:1rem; }
  //  code { padding: 0 .25rem; }
  //  // p { margin-top:1rem !important; }
  //  .gitlab-embed-snippets { margin:10px 0; }
  //}
  //.website-note { border:2px solid #dd0;
  //  background-color:#ffe; color:#000;
  //  margin:1rem 0; padding:4px; font-size:13px;
  //}
  //.menu-label { border-top:1px solid $cp-p100; }
  //a {
  //  border-bottom:1px solid $cp-p200;
  //  &:hover { background-color:$cp-p500; }
  //}
  //body {
  //  .mt-100 { margin-top:1.00rem; }
  //  .navbar-item .title { color:$cp-text; border:0; }
  //}
  //fieldset.bnc-section { border:2px solid $cp-p700; font-size:1rem;
  //  margin-bottom: 1rem; padding-left:.5rem; padding-right:.5rem;
  //  @include browsers(border-radius, 6px);
  //  legend {padding:0 .5rem; color:$cp-p800; font-size:.8rem; font-weight:bold; margin-left:.5rem; }
  //}
  //.bnc-toc {
  //  background-color: #fff;  //$cp-p200;  // so it's not transparent
  //  fieldset { font-size:90%; padding-bottom:6px; width:100%; margin:0;
  //    ul { margin:0; }
  //    & nav ul {
  //      list-style:outside none;
  //      color:$cp-p800; font-size:.8rem; font-weight:bold;
  //      & ul {
  //        & li { padding-left:14px; text-indent:-14px; }
  //        & li:before { content: "\2013\00a0"; }  // see https://css-tricks.com/snippets/html/glyphs/
  //      }
  //      a { border:none; color:$cp-p800; }
  //    }
  //  }
  //  @media screen and (max-width:640px) {
  //    width:100%;
  //  }
  //  @media screen and (min-width:641px) {
  //    float:right; max-width:50%; min-width:240px; margin-left:.6rem;
  //  }
  //}

}