
{{- define "title" -}}
  {{ .Title }}
{{- end }}

{{- define "main" }}
{{- $lang := $.Page.Language.Lang }}
{{- $i18n := $.Page.Params.i18n }}
 <main class="container content pad-touch-only" v-on:update:dbdate="dbdate = $event">
  <h1 class="title mt-3">{{ .Title }}</h1>
  <div class="mb-2">
    <button class="button is-info is-small" @click="goBack"><i class="fas fa-arrow-left"></i></button>
    <button class="button is-info is-small" @click="goForward"><i class="fas fa-arrow-right"></i></button>
    <router-link class="button is-info is-small" to="/" v-if="$route.path!=='/'"><i class="fas fa-search"></i></router-link>
  </div>
  <!--transition :name="routeTransition" @after-enter="afterTransition" mode="out-in"-->
   <router-view></router-view>
  <!--/transition-->
 </main>
{{- end }}
