{{- $minifyJS := true }}

{{- if isset .Params "include_js" }}
  {{- $js_to_include := split (replace .Params.include_js " " "") "," }}

  {{- if in $js_to_include "page_i18n" }}
    {{- with .Params.i18n }}
 <script>window.page_i18n = {{ jsonify . | safeJS }};</script>
    {{- end}}
  {{- end }}

  {{- if in $js_to_include "cfc-data" }}
    {{- $cfc_data_js := resources.Get "ext/cfc-data.js" | resources.Fingerprint }}
 <script src="{{ $cfc_data_js.RelPermalink }}"></script>
  {{- end }}

  {{- if in $js_to_include "anchorjs" }}
 <script src="/js/anchor.min.js"></script>
 <script>anchors.options.visible = 'always'; anchors.add('h1,h2,h3,h4');</script>
  {{- end }}

  {{- if in $js_to_include "ratings" }}
    {{- $js_opts := dict "format" "iife" "target" "es2015" "minify" $minifyJS }}
    {{- $ratings_js := resources.Get "built/ratings.js" | js.Build $js_opts | resources.Fingerprint }}
 <script src="{{ $ratings_js.RelPermalink }}"></script>
  {{- end }}
{{- end }}

{{- $js_opts := dict "format" "iife" "target" "es2017" "minify" $minifyJS }}
{{- $main_js := resources.Get "built/main.js" | js.Build $js_opts | resources.Fingerprint }}
 <script src="{{ $main_js.RelPermalink }}"></script>
{{- $cfc_2020_js := resources.Get "js/cfc-2020.js" | js.Build $js_opts | resources.Fingerprint }}
 <script src="{{ $cfc_2020_js.RelPermalink }}"></script>