{{- $lang := $.Page.Language.Lang }}
{{- $currentPage := . }}
 <section id="ws-topbar" class="container">
  <aside :class="{'is-open':sideNav_show}" @click="sideNav_toggle" class="menu is-pulled-left is-overlay is-hidden-tablet">
   <ul class="menu-list">
{{- range .Site.Menus.main }}
    <li><a class="menu-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
{{- end }}
   </ul>
  </aside>

  <div class="columns is-mobile">
   <div class="column is-narrow">
    <a class="level-item" href="/{{ $lang }}/">
     <img src="/img/cfc.logo/cfc.logo.433x100.{{ $lang }}.png" class="is-hidden-mobile" style="min-height:100px;">
     <img src="/img/cfc.logo/cfc.logo.177x100.{{ $lang }}.png" class="is-hidden-tablet" style="min-height:100px;">
    </a>
   </div>
   <div class="column"></div>
   <div class="column is-narrow pt-5 mr-1">
{{- if .IsTranslated }}
    {{- range .Translations }}
        {{- if ne .Lang "languages" }}
    <a class="level-item button is-small is-primary" href="{{ .Permalink }}" >{{ i18n "other_lang" | upper }}</a>
        {{- end }}
    {{- end }}
{{- end }}
   </div>
   <div class="column is-narrow is-hidden-tablet pt-5 mr-1" @click="sideNav_toggle">
    <i class="fas fa-bars fa-border"></i>
   </div>
  </div>

  <nav class="level is-hidden-mobile" role="navigation" aria-label="main navigation">
   <div class="level-left">
{{- $currentPage := . }}
{{- range .Site.Menus.main }}
    <a class="level-item menu-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL | relURL }}">{{ .Name }}</a>
{{- end }}
   </div>
  </nav>
 </section>
