{{- $lang := $.Page.Language.Lang }}
{{- $currentPage := . }}
 <section id="ws-topbar" class="container">
{{- partialCached "html/body-topbar-sidenav.html" . }}

  <div class="columns is-mobile">
   <div class="column is-narrow">
    <a class="level-item" href="/{{ $lang }}/">
     <img src="/img/cfc.logo/cfc.logo.540x140.{{ $lang }}.png" class="is-hidden-mobile" style="min-height:100px;">
     <img src="/img/cfc.logo/cfc.logo.186x120.{{ $lang }}.png" class="is-hidden-tablet" style="min-height:100px;">
    </a>
   </div>
   <div class="column"></div>
   <div class="column is-narrow pt-5 mr-1">
{{- if .IsTranslated }}
    {{- range .Translations }}
        {{- if ne .Lang "languages" }}
    <a class="level-item button is-small is-primary" href="{{ .Permalink }}" >{{ .Lang | upper }}</a>
        {{- end }}
    {{- end }}
{{- end }}
   </div>
   <div class="column is-narrow is-hidden-tablet pt-5 mr-1" @click="sideNav_toggle">
    <i class="fas fa-bars fa-border"></i>
   </div>
  </div>

{{ partialCached "html/body-topbar-navbar.html" . }}
 </section>
