{{- $lang := $.Page.Language.Lang }}
      <p class="title is-5"><i class="fas fa-chess-knight"></i> {{ i18n "events" }}</p>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       June 27 &mdash; Chess.com<br>Brantford Summer Active
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       June 28 &mdash; LiChess.org<br>Maritime Chess Club #5
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       July 3-5 &mdash; Vernon, BC<br>BC/AB Match & Vernon Open
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       July 18 &mdash; LiChess.org<br>Maritime Chess Club #6
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       June 27 &mdash; Chess.com<br>Brantford Summer Active
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       June 28 &mdash; LiChess.org<br>Maritime Chess Club #5
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       July 3-5 &mdash; Vernon, BC<br>BC/AB Match & Vernon Open
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/under-construction/">
       <div class="ws-more"><i class="fas fa-chevron-right"></i></div>
       July 18 &mdash; LiChess.org<br>Maritime Chess Club #6
       </a>
      </div>
