{{- $lang := $.Page.Language.Lang }}
      <p class="title is-5"><i class="fas fa-chess-bishop"></i> {{ i18n "news" }}</p>
      <div class="ws-item">
       <a href="/{{ $lang }}/ws/under-construction/">
        <div class="ws-more is-pulled-right"><img src="/img/icons/ws-more.svg"></div>
        <strong>Virus Kills chess.ca</strong><br>
        The CFC's chess.ca website has finally succumbed to viral attacks.
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/ws/under-construction/">
        <div class="ws-more is-pulled-right"><img src="/img/icons/ws-more.svg"></div>
        <strong>Botez-Demchenko, 2020</strong><br>
        The Covid lockdown has (temporariliy?) ended OTB chess events, but there has been a big boom in online chess events.
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/ws/under-construction/">
        <div class="ws-more is-pulled-right"><img src="/img/icons/ws-more.svg"></div>
         <strong>BOTW: 2020.05</strong><br>
         Despite over-the-board chess events cancelled world-wide, there are still interesting chess to watch and play...
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/ws/under-construction/">
        <div class="ws-more is-pulled-right"><img src="/img/icons/ws-more.svg"></div>
        <strong>QGM Qiyu Zhou: Chessbase DVDs</strong><br>
        Chessbase has just released two DVDs recorded by Canadian WGM Qiyu Zhou.
       </a>
      </div>
      <div class="ws-item">
       <a href="/{{ $lang }}/ws/under-construction/">
        <div class="ws-more is-pulled-right"><img src="/img/icons/ws-more.svg"></div>
        <strong>Chess Canada: Embiggened</strong><br>
        A new issue of Chess Canada, the CFC online magazine, is now available for free download from the CFC homepage...
       </a>
      </div>
      <a href="/{{ $lang }}/ws/under-construction/" class="button is-small xxxis-primary">{{ i18n "More_news" }} &nbsp; <i class="fas fa-chevron-right"></i></a><br>
