
      <ws-photobox :photos="[
        { img: 'cloud:/photos/carousel/2020-04.QZ-at-ChessBase.jpg', text: 'Canadian WGM Qiyu Zho records two new Chessbase DVDs' },
        { img: 'cloud:/photos/carousel/2020-04.Chess-Canada-2020-Embiggened.jpg', text: 'New issue of Chess Canada available here: [BIG PDF](cloud:/newsletters/2020/cfc.cc2020.pdf) and [PGN](cloud:/newsletters/2020/cfc.cc2020.pgn)' },
        { img: 'cloud:/photos/carousel/2020-02.IM-Norm-3-Mark-Plotkin.jpg', text: 'Arbiter Aris, an IM report, and new IM Mark Plotkin' },
        { img: 'cloud:/photos/carousel/2020-02.round-1-middlegames.jpg', text: 'Nailbiting at [EMC](https://elevatemychess.com/)\'s February IM Norm Tournament' },
      ]" :wait="3"></ws-photobox>
