{{- $lang := $.Page.Language.Lang }}
      <p class="title is-5"><i class="fas fa-chess-bishop"></i> {{ i18n "quick-links" }}</p>
      <aside class="menu ws-links">
       <div class="columns">
        <div class="column is-narrow">
         <a href="/{{ $lang }}/ratings/" class="button is-small">{{ i18n "Ratings" }}</a><br>
         <a href="/{{ $lang }}/events/" class="button is-small">{{ i18n "Tournaments" }}</a><br>
         <a href="https://chess.ca" class="button is-small">{{ i18n "OLD" }} chess.ca</a>
        </div>
        <div class="column">
         <a href="http://www.chesscanada.info/forum/forumdisplay.php?1-Public-Forums" class="button is-small">{{ i18n "cfc" }} Forums</a><br>
         <a href="https://forum.chesstalk.com/" class="button is-small">ChessTalk</a><br>
         <a href="https://www.facebook.com/pages/Chess-Federation-of-Canada/163031117086480" class="button is-small">{{ i18n "cfc" }} Facebook</a>
        </div>
       </div>
      </aside>
