<!doctype html>

<html lang="{{ .Page.Language }}"{{ with .Params.pageid }} data-pageid="{{.}}"{{end}}>
<head>
{{- partial "html/head.html" . }}
{{- block "inside-head" . }}{{ end -}}
</head>

<body>
{{- if isset .Params "needs_vuejs" }}
 <div id="vue-app" x-data="page_data">
{{- else }}
 <div id="vue-app"></div><div x-data="page_data">
{{- end }}
 <div id="ws-overlay" x-bind:class="{'is-overlay':sideNav.show}" x-on:click="sideNav.toggle"></div>
{{ partial "html/body-topbar.html" . -}}

{{ block "main" . }}
 <section class="ws-content container">
  <h3>UNDER CONSTRUCTION!</h3>
 </section>
{{ end }}

{{ partialCached "html/body-footer.html" . }}
 </div>
{{- partial "html/body-scripts.html" . }}
{{- partial "google-analytics.html" . }}
</body>
</html>
