{{- define "inside-head" }}
{{- $events := resources.Get "ext/cfc-events.js" | resources.Fingerprint }}
 <script src="{{ $events.RelPermalink }}"></script>
{{ end }}

{{- define "main" }}
{{- $lang := $.Page.Language.Lang }}
{{- $i18n := $.Page.Params.i18n }}
{{- $list_blogs := first 20 (where .Site.RegularPages "Section" "blog") }}
 <main id="ws-home" class="container content pad-touch-only">
  <div class="columns is-8">

   <!-- LEFT MAIN COLUMN -->
   <div class="column is-8">
    <div class="columns is-multiline">

     <div class="column is-12">
      <p class="ws-intro">{{ $i18n.intro_text | safeHTML }}</p>
     </div>

     <div class="column is-12">
{{- partial "home/newsflashes.html" . }}
{{- partial "home/photobox.html" . }}
     </div>

     <div class="column is-6">
{{- partial "home/news.html" . }}
     </div>

     <div class="column is-6">
{{- partial "home/events.html" . }}
     </div>

     <div class="column is-12 is-hidden-mobile">
{{- partial "home/game-of-the-week.html" . }}
     </div>
    </div>
   </div>

   <!-- RIGHT COLUMN -->
   <div class="column is-4">
    <div class="columns is-multiline">
     <div class="column is-12">
{{- partial "home/quick-links.html" . }}
     </div>
     <div class="column is-12">
{{- partial "home/puzzle-of-the-day.html" . }}
     </div>
     <div class="column is-12">
{{- partial "home/shop.html" . }}
     </div>
    </div>
   </div>
  </div>
 </main>
{{ end }}
