{{- define "inside-head" }} <script>
{{ (.Resources.GetMatch "cfc-events.js").Content | safeJS }}
 </script>
{{ end }}

{{- define "title" -}}
  {{ .Title }}
{{- end }}

{{- define "main" }}
{{- $lang := $.Page.Language.Lang }}
{{- $i18n := $.Page.Params.i18n }}
 <main class="container content pad-touch-only">
  <h1 class="title mt-3">{{ .Title }}</h1>
   <p>&#x27A4; {{ $i18n.caveat }}</p>
   <div class="field is-grouped is-grouped-multiline">
    <div class="control">
     <div class="select is-small is-primary">
      <select v-model="e_type">
       <option value="*">{{ $i18n.filter_by_type }}</option>
       <option value="*">{{ $i18n.All_types }}</option>
       <option value="Online">{{ $i18n.Online }}</option>
       <option value="OTB">{{ $i18n.OTB }}</option>
       <option value="Junior-Online">{{ $i18n.Jr_Online }}</option>
       <option value="Junior-OTB">{{ $i18n.Jr_OTB }}</option>
      </select>
     </div>
    </div>
    <div class="control">
     <div class="select is-small is-primary">
      <select v-model="e_prov">
       <option value="*">{{ $i18n.filter_by_location }}</option>
       <option value="*">{{ $i18n.All_provinces }}</option>
       <option value="Online">{{ $i18n.Online }}</option>
       <option value="AB">AB - Alberta</option>
       <option value="BC">BC - British Columbia</option>
       <option value="MB">MB - Manitoba</option>
       <option value="NB">NB - New Brunswick</option>
       <option value="NL">NL - Newfoundland and Labrador</option>
       <option value="NT">NT - Northwest Territories</option>
       <option value="NS">NS - Nova Scotia</option>
       <option value="NU">NU - Nunavut</option>
       <option value="ON">ON - Ontario</option>
       <option value="PE">PE - Prince Edward Island</option>
       <option value="QC">QC - Quebec</option>
       <option value="SK">SK - Saskatchewan</option>
       <option value="YT">YT - Yukon</option>
       <option value="FO">{{ $i18n.Foreign }}</option>
      </select>
     </div>
    </div>
    <div class="contol ml-6">
      <a href="https://forms.gle/w9EXzkLtRUhabrns9" target="_blank" class="button is-small is-primary">{{ $i18n.AddEvent }}</a>
    </div>
   </div>

   <div class="table-container">
    <table class="ws-ratings-tdlist table is-hoverable is-narrow" style="min-width:800px;">
     <thead>
      <tr>
       <th>{{ $i18n.Dates }}</th><th>{{ $i18n.Event }}</th>
       <th>{{ $i18n.Type }}</th><th>{{ $i18n.Location }}</th>
       <!--th>{{ $i18n.Province }}</th--><th>{{ $i18n.Info }}</th>
      </tr>
     </thead>
     <tbody>
      <tr v-if="cfc_events.length == 0">
       <td></td><td colspan="4">({{ $i18n.NONE }})</td>
      </tr>
      <template v-for="e in cfc_events">
       <tr v-if="e.newyear">
        <td></td><td colspan="4"><strong>---- [v[e.newyear]v] ----</strong></td>
       </tr>
       <tr v-else>
        <td>[v[e.dates.{{ $lang }}]v]</td>
        <td>[v[e.name]v]</td>
        <td>[v[e.type]v]</td>
        <td>[v[e.city]v]<span v-if="e.prov != 'Online' && e.prov != 'FO'">, [v[e.prov]v]</span></td>
        <td v-html="e.links"></td>
       </tr>
      </template>
     </tbody>
    </table>
   </div>

 </main>
{{ end }}
