#ws-footer {
  margin-top:6rem; padding:3rem 0 6rem 0;
  background: #fff url("/img/squares/squares.6px.2x8.png") repeat-x;
  //padding-top:36px;
  //border-top:3px solid $cp-p100; background-color: #fff;
  //background-color: $cp-p100;
  //background: #fff url("/img/squares/squares.6px.2x2.png") repeat-x;
  a { color:$cp-text; }
}
