//----------------------------------------------------------------------
// All Pages:  topbar, sidenav
//----------------------------------------------------------------------
#ws-overlay { background-color: hsla(90,27%,65%,0.25); z-index:900; }
#ws-topbar {
  &.container {
    padding:0.5rem 0;
    //border-bottom:1px solid $cp-p500;
    .fa-bars { font-size:180%; color:$cp-p500; margin-bottom:1rem; }
    nav a {
      color:$cp-p500;
      margin:0 1.2rem .5rem 0;
      border-bottom:2px solid transparent;
      &:hover { border-bottom:2px solid $cp-p500; }
    }
    aside {
      height: 100%; width: 0; overflow-x: hidden;
      position: fixed; z-index: 901; top: 0; left: 0;
      background-color: #fff;
      transition: 0.2s ease-out;
      padding-top: 60px;
      &.is-open { width:240px; border-right:8px solid $cp-p300; }
    }
  }
  .ws-sidenav-enter-active {
    transition: all .3s ease;
  }
  .ws-sidenav-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .ws-sidenav-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
}
